.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2041;
}

.nav-link {
  margin-right: 50px;
  line-height: 18px;
  text-align: center;
  color:white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#home {
  display: flex;
  font-family: 'Bradley Hand', cursive;
  font-style: italic;
  color:white;
  width: 170px;
  background-color: rgb(133, 133, 132);
}

#home:hover {
  text-decoration: underline;
}

#charts {
  color: gray;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.charts {
  flex-basis: 500px;
  align-items: center;
  justify-content: center;
}

.slider-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  width: 50%;
  height: 10%;
  font-size: 25px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 15px;
  width: 80%;
  background: #c8c8c8;
  border-radius: 10px;
  border: solid 4px #eeeeee;
}

::-webkit-slider-thumb {
  -webkit-appearance:none;
  background:rgb(163, 163, 163);
  height:30px;
  width:30px;
  border-radius:50%;
  border: 5px solid #ffffff;
}

#series_chart_div {
  width: 80%;
  height: 50%; 
  align-items: center;
  justify-content: center;
}

#piechart {
  width: 80%;
  height: 50%;  
  padding-left: 15%;
  align-items: center;
  justify-content: center;
} 

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gl {
  height: 70%;
  width: 70%;
}