.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: lightseagreen;
  }
  
.site-header {
  width: 100%;
  color: white;
  background-color: #252e33;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  padding: 1px;
  background-color: #1c2041;
}

#atitle {
  display: block;
  width: 170px;
  margin-right: 100px;
  text-align: center;
  line-height: 21px;
  font-family: 'Bradley Hand', cursive;
  font-style: italic;
  font-size: 14pt;
  color: white;
  background-color: rgb(133, 133, 132);
}

.nav-link {
  display: block;
  margin-top: 10px;
  margin-right: 276px;
  color:white;
  font-size: large;
}

#dropdownMenu2 {
  font-size: large;
  position: absolute;
  margin-top:12px;
  margin-left: 3px;
  top: 0px;
  left: 58.5%;
  background-color: #1c2041;
  border-color: #1c2041;
}

.main {
  width: 950px;
  margin: 0 auto;
}

#chart {
  width: 950px;
  margin: 8% auto;
}

#series_chart_div {
  width: 900px;
  height: 500px;
}

#piechart {
  width: 900px;
  height: 500px;
  padding-left: 13%;
}

footer {
  width: 300px;
  position: absolute;
  padding-left: 10%;
  margin-left: 39%;
}

.img #gh {
  height: 50px;
  width: 50px;
  padding: 5px 5px 5px 5px;
}

.gitaccount {
  color: gray;
  width: 150px;
  position: absolute;
  top: 15px;
  left: 50px;
}