.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2041;
}

.nav-link {
  margin-right: 50px;
  line-height: 18px;
  text-align: center;
  color:white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#home {
  font-family: 'Bradley Hand', cursive;
  font-style: italic;
  color:black;
  width: 170px;
  background-color: rgb(133, 133, 132);
}

#home:hover {
  text-decoration: underline;
}

.about {
  display: flex;
  margin: 100px;
  padding: 100px;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  font-style: italic;
}

.title {
  display: flex;
  padding-right: 30px;
}

.exp {
  display: flex;
  padding-left: 30px;
}

.wording {
  display: flex;
  padding-left: 30px;
}

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gl {
height: 70%;
width: 70%;
}