.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2041;
}

.nav-link {
  margin-right: 50px;
  line-height: 18px;
  text-align: center;
  color:white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#home {
  display: flex;
  font-family: 'Bradley Hand', cursive;
  font-style: italic;
  color:black;
  width: 170px;
  background-color: rgb(133, 133, 132);
}

#home:hover {
  text-decoration: underline;
}

.container-fluids {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 5%;
  background-color: antiquewhite;
}

.flex-item {
  display: flex;
  flex-basis: 500px;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  height: 100%;
  align-items: center;
  font-style: italic;
} 

.explanation {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  align-items: center;
  font-style: italic;
} 

.definition {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  align-items: center;
  font-style: italic;
} 

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gl {
  height: 70%;
  width: 70%;
}