.wrapper {
  width: 100%;
  margin: 0 auto;
}

.site-header {
width: 100%;
color: white;
background-color: #252e33;
font-size: 12pt;
font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
font-size: large;
width: 130px;
padding: 10px;
position: absolute;
top: 0px;
left: 30%;
}

.dropdown1 {
font-size: large;
width: 130px;
padding: 10px;
position: absolute;
top: 0px;
left: 60%;
}

.main {
width: 950px;
margin: 0 auto;
}

.concept-movie {
width: 100%;
display: inline-block;
text-align: center;
margin-top: 80px;
}

.title-call {
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
margin-top: 50%;
font-size: 30pt;
text-align: center;
}

.back-images {
height: 300px;
width: 700px;
margin: 0 auto;
margin-bottom: 80px;
}

.back-images img {
float: left;
display: block;
height: 300px;
width: 50%;
}

footer {
width: 300px;
position: absolute;
top: 90%;
left: 45%;
}

.img #gh {
height: 50px;
width: 50px;
padding: 5px 5px 5px 5px;
}

.gitaccount {
color: gray;
width: 150px;
position: absolute;
top: 15px;
left: 50px;
}