.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2041;
}

.nav-link {
  margin-right: 50px;
  line-height: 18px;
  text-align: center;
  color:white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#home {
  font-family: 'Bradley Hand', cursive;
  font-style: italic;
  color:white;
  width: 170px;
  background-color: rgb(133, 133, 132);
}

#home:hover {
  text-decoration: underline;
}

#howtouse {
  color: gray;
}

.explanation-container {
  display: flex;
  padding: 3%;
  justify-content: center;
  align-items: center;
}

.explanation-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation-item > img {
  height: 90%;
  width:90%;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
}

.explanation-item > ol {
  height: 90%;
  width:90%;
  line-height: 25px;
}

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gl {
height: 70%;
width: 70%;
}